<div class="input-group">
  <h1>Converter Maiúsculas e Minúsculas</h1>
  <p>Transformar textos para maiúsculas ou para minúsculas? Basta usar nossa ferramenta.</p>

  <mat-form-field class="example-full-width">
    <mat-label>Digitar aqui...</mat-label>
    <textarea matInput [(ngModel)]="text" ></textarea>
  </mat-form-field>

  <div class="btn-group" role="group">
    <button class="btn" mat-raised-button type="button" (click)="convertToUpperCase()">Maiúsculas</button>
    <button class="btn" mat-raised-button type="button" (click)="convertToLowerCase()">Minúsculas</button>

  </div>

  <div class="result-group">
      <h1 class="result">{{ text }}</h1>
    <button class="btn" mat-raised-button type="button" (click)="copyToClipboard()">Copiar</button>
  </div>
</div>
