<div class="input-group">
  <h1>Remover Pontos, Traços e Espaços</h1>
  <p>
    Use esta ferramenta para remover pontos, traços e espaços em branco do
    texto.
  </p>

  <mat-form-field class="example-full-width">
    <mat-label>Digite aqui...</mat-label>
    <textarea matInput [(ngModel)]="text"></textarea>
  </mat-form-field>

  <div class="btn-group" role="group">
    <button
      [disabled]="!text"
      class="btn"
      mat-raised-button
      type="button"
      (click)="removeDotsText()"
    >
      Remover
    </button>
  </div>

  @if(showResult) {
  <div class="result-group-container">
    <div class="result-group">
      <h1 class="result">{{ cleanedText }}</h1>
    </div>

    <div class="content-btn">
      <button
        [disabled]="!cleanedText"
        class="btn"
        mat-raised-button
        type="button"
        (click)="copyToClipboard()"
      >
        Copiar
      </button>

      <button
        [disabled]="!text"
        class="btn clean"
        mat-raised-button
        type="button"
        (click)="cleanText()"
      >
        Limpar
      </button>
    </div>
  </div>
  }
</div>
